<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lol.kuxa" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Loling app</name>
	<description>
		This app brews beer.
	</description>

	<author email="kuxik009@gmail.com" href="http://kuxa.xyz">
	   Kuxa
	</author>
        <gap:plugin name="org.apache.cordova.media"/>
	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>
